[submodule "docs/themes/docsy"]
	path = docs/themes/docsy
	url = https://github.com/google/docsy/
[submodule "upstream/dgc-gateway"]
	path = upstream/dgc-gateway
	url = https://github.com/eu-digital-green-certificates/dgc-gateway.git
