SET aad_auth_validate_oids_in_tenant = OFF;
DROP USER IF EXISTS '${DATABASE_USER}';
CREATE AADUSER '${DATABASE_USER}' IDENTIFIED BY '${DATABASE_CLIENT_ID}';
GRANT ALL PRIVILEGES ON `${DATABASE_NAME}`.* TO '${DATABASE_USER}'@'%';
